[2013-03-31 16:28] atrauzzi opened #1 "Integrate migrations"
Next piece of functionality to bring in would likely be the migrations.

http://docs.doctrine-project.org/projects/doctrine-migrations/en/latest/reference/introduction.html

[2013-04-02 00:17] phpdiddy opened #2 "src/migrations folder is missing"
The composer.json file makes reference to a src/migrations path to add to the class map, but the Composer install fails because the src/migrations folder does not exist. I think this may have just been missed since git won't commit empty folders.

[2013-04-02 00:46] #2 closed, assigned to atrauzzi

[2013-05-18 12:28] borovan-zz opened #3 "php artisan doctrine:schema:update error"
Not sure why this happens, but this is after a fresh install.  Maybe missing a depdency?

php artisan doctrine:schema:update
ATTENTION: This operation should not be executed in a production environment.
Obtaining metadata from your models...
PHP Fatal error:  Class 'Doctrine\ORM\Tools\SchemaTool\SchemaTool' not found in /home/webuser/laravel/vendor/atrauzzi/laravel-doctrine/src/Atrauzzi/LaravelDoc

[2013-06-03 13:59] #3 closed, assigned to nobody

[2013-07-09 00:08] rmribeiro opened #6 "Doctrine 2 - AnnotationReader"
To use the commonly used:
use Doctrine\ORM\Mapping as ORM;

The AnnotationReader can't be SimpleAnnotation Reader.
5th parameter of the createAnnotationMetadataConfiguration should be false:
$config = Setup::createAnnotationMetadataConfiguration(
                Config::get('laravel-doctrine::doctrine.metadata'),
                App::environment() == 'development',
                Config::get('lar

[2013-08-15 12:00] mitchellvanw opened #7 "Using Laravel's database configuration"
At the moment I need to fill in my database connection info in the package its configuration. This is weird to me, because laravel has it's own database configuration file which you can use. Also since it's a laravel only package, you can use the helper functions. For example the "metadata" config you could use:

[code]

[2013-10-24 14:34] #7 closed, assigned to nobody

[2013-10-25 10:51] glemmaPaul opened #11 "Mistake in service provider"
Hi,

I updated the laravel doctrine and found out there is a little mistake in the script:
<code>
           $this->commands(
            'Atrauzzi\LaravelDoctrine\Console\CreateSchemaCommand'
            'Atrauzzi\LaravelDoctrine\Console\UpdateSchemaCommand',
            'Atrauzzi\LaravelDoctrine\Console\DropSchemaCommand',
        );

</code>

You forgot an comma on the first line. (It is on lin

[2013-10-25 18:54] #11 closed, assigned to nobody

[2013-10-30 13:26] mcheptea opened #12 "APC not working"
I'm not sure whether is a problem with the package, most likely not.

Caching with APC does not have any effect on queries. I've described the issue with more details here: http://stackoverflow.com/questions/19677799/laravel4-doctrine-not-using-apc-cache

[2013-11-12 14:25] brunocascio opened #13 "Class doctrine.metadata does not exist"
[ReflectionException] Class doctrine.metadata does not exist

When for example: php artisan doctrine:schema:create

I published config with command, and setup my database in doctrine.php.

Any idea?

[2013-11-21 14:15] #13 closed, assigned to nobody

[2013-12-04 17:55] broklyngagah opened #17 "Schema Create Command Can't Create Schema on Database"
I've install this package and create 2 entity class with annotation

when i am run this command ~php artisan doctrine:schema:create the result is

But, when I look at the database, there is no schema is created.
How to create schema on this package ?

thanks for the answer..

[2013-12-12 17:28] echochamber opened #19 "Dependencies Issue When Installing In Laravel 4.1.x"
[code]

And The composer.json file

[code]

[2013-12-26 23:53] #19 closed, assigned to nobody

[2014-01-27 18:43] #12 closed, assigned to nobody

[2014-01-27 18:44] #17 closed, assigned to nobody

[2014-01-27 18:45] #1 closed, assigned to nobody

[2014-02-12 19:17] tnightingale opened #24 "Latest version of doctrine/doctrine2 2.4 branch breaks"
A recent commit to the doctrine/doctrine2 2.4 branch changed SchemaTool's constructor parameter type-hint from EntityManager to EntityManagerInterface. This breaks laravel-doctrine's method of using the IoC to instantiate the SchemaTool.

[2014-03-05 04:29] ensensis opened #25 "Where do I put the generated doctrine.php file?"
Could you please guide me to the the right direction on where I need to put the doctrine.php generated after run `./artisan config:publish atrauzzi/laravel-doctrine`? Thank you

[2014-03-05 05:12] #25 closed, assigned to nobody

[2014-03-07 22:14] ensensis opened #26 "How to trigger orm commands"
I need generate my proxies manually, since Doctrine 2 documentation suggest to do:

[code]

I mean, after a fresh install of this package, how can I make use of doctrine cli-command?

[2014-03-09 22:09] mohammadmojrian opened #27 "Error On Installing PackageNot Nound"
Problem 1
    - Installation request for atrauzzi/laravel-doctrine dev-master -> satisfiable by atrauzzi/laravel-doctrine[dev-master].
    - atrauzzi/laravel-doctrine dev-master requires doctrine/migrations 1.0.*@dev -> no matching package found.

[2014-03-18 07:53] #27 closed, assigned to nobody

[2014-03-28 11:35] #26 closed, assigned to nobody

[2014-05-22 16:38] SephVelut opened #29 "doctrine/migrations"
The doctrine/migrations dep fails on composer install

[2014-06-02 15:03] mattzuba opened #30 "doctrine/migrations not found"
In regards to Issue #27, the 'fix' provided there is not a proper fix.  Setting the minimum-stability to dev installs the dev packages of everything Laravel uses, which is very poor for those working on production applications.

The require line for doctrine/migrations should be changed to "@dev".

[2014-06-06 02:08] #24 closed, assigned to nobody

[2014-06-09 15:34] #30 closed, assigned to nobody

[2014-06-09 17:48] manfredjb opened #33 "Explicity set "devMode" for the package"
I work with xCache. In the default package config it has:

    $devMode = $config->get('app.debug');

If it is set to "false", I am not able to work/debug xCache when the entire appliation is in "Debug" mode because of the following conditional:

    if(!$devMode) {
        $cache_config = $config->get('laravel-doctrine::doctrine.cache');
	$cache_provider = $cache_config['provider'];
	$cache_provi

[2014-06-15 15:10] AdrianSkierniewski opened #34 "Class 'Atrauzzi\LaravelDoctrine\SchemaTool'"
After merging pull request artisan doctrine:schema:update start to failing because lack of full namespace:

[code]

Fix:

[code]

[2014-06-30 02:43] #29 closed, assigned to nobody

[2014-06-30 02:44] #6 closed, assigned to nobody

[2014-07-02 21:08] glennjacobs opened #35 "Problem installing via Composer"
Having this issue when trying to install...

[code]

[2014-07-05 01:51] #35 closed, assigned to nobody

[2014-07-17 11:30] #34 closed, assigned to nobody

[2014-08-19 18:03] greatwitenorth opened #37 "Will not install via composer"
Currently this package cannot be installed via composer:

[code]

[2014-08-19 18:11] #37 closed, assigned to nobody

[2014-09-23 14:44] jeanbelhache opened #39 "Authentification"
Hi,

Is there a way to make the Authentification laravel driver working with your module ?

[2014-09-25 17:22] #39 closed, assigned to nobody

[2014-10-03 00:25] nicopenaredondo opened #40 "Package always fail when executing composer install/update"
I'm trying to install the package. but I always get this message(see image)

![capture](https://cloud.githubusercontent.com/assets/3615451/4500508/d608b692-4a93-11e4-9150-d2562dad8763.JPG)

[2014-10-03 00:33] #40 closed, assigned to nobody

[2014-11-13 02:42] ensensis opened #42 "Support for Laravel 5"
Hello Alexander, Laravel 5 is coming soon and some of us are playing around with this version from now. But looks like this module is not compatible yet. Will we see this module supported for Laravel 5?
Thank you.

[2014-12-22 17:33] andrewmclagan opened #44 "DB Schema through notations?"
Their are other options to Doctrine migrations other then the comments notations system.

I do not like this system as it does not integrate well with any IDE and autocomplete and is outside of normal paradigms.

Doctrine can also use YAML or XML based schemas / migrations as i understand...

[2015-01-30 01:42] atrauzzi commented on #44
It isn't XML or YAML, but the latest version designed for Laravel 5 supports loading mappings via config files.

Additional drivers would be fairly easy to add, I just don't have need of them right away.

[2015-01-30 01:42] #44 closed

[2015-01-30 01:43] atrauzzi commented on #42
Done!

[2015-01-30 01:43] #42 closed

[2015-01-30 01:48] atrauzzi commented on #33
If you'd like, you can submit a PR against the 1.x branch for this to get support for this functionality in Laravel 4.  Would just be a matter of adding it to the default config file and updating the service provider to prefer it from there.

[2015-01-30 01:48] #33 closed

[2015-02-02 05:06] manfredjb commented on #42
Hello @atrauzzi,
I have 3 projects using your package for L4. Today I made a composer update and what is the surprise? looks like there is not support for L4 any more from this package. Is this right?

[2015-02-02 06:34] andrewmclagan commented on #44
I will actually do that! but not for a couple weeks sorry :-)

[2015-02-02 13:19] atrauzzi commented on #44
Not a problem.  Let me know if you have any questions.

[2015-02-02 13:20] atrauzzi commented on #42
Yeah, dev-master is now for Laravel 5, however you can still access the old version by choosing the 1.x series for your version.

Check out packagist for more information: https://packagist.org/packages/atrauzzi/laravel-doctrine

[2015-02-02 18:37] manfredjb commented on #42
Thank you so much!  ... and following :)

[2015-02-19 17:02] brenelz opened #49 "Initial clone doesn't receive laravel files in laravel folder"
Had to manually add files to the laravel folder as they weren't there out of the box.  I believe there was an issue when trying to start images with no files in there.  Can't entirely remember.

[2015-02-19 17:02] #49 closed

[2015-02-23 20:52] manfredjb commented on #26
I tried to emulate this script at Laravel 5, but I do not know  how to extract the EM from $app object:

[code]

[2015-02-28 16:36] joshhornby opened #51 "Comparing Doctine packages"
Out of interest are there any differences between the two packages?

This one seems to be a little more active, hence why I am asking

https://github.com/mitchellvanw/laravel-doctrine

[2015-02-28 21:45] atrauzzi commented on #51
I think overall they're comparable as any integration of Doctrine is best kept generic so as not to interfere with core features on either side.  I've gone to some effort to provide an array-style configuration syntax for your mappings if you don't want to use annotations.  You can also use annotations if you so desire.

The current version of my package is Laravel 5.0 ready.  I receive commits st

[2015-03-07 03:41] ensensis opened #52 "trigger orm commands in laravel 5"
This package for laravel 4.x I ran orm commands like this thread states:

https://github.com/atrauzzi/laravel-doctrine/issues/26

But, how can I do the same for laravel 5?

[2015-03-10 14:04] tchannel opened #54 "can this be used with L4.2?"
Your package requires laravel/framework 5.*

Is there a way to use this with L4, other than using the 1.0.0 release (before the framework 5 dependency was added)?

[2015-03-10 14:37] atrauzzi commented on #54
You'll have to stick with the old branch for 4.* support unfortunately.

[2015-03-10 14:37] #54 closed

[2015-03-20 18:41] CWSpear opened #55 "Can't Find doctrine/migrations Package"
When I try to install your package, I get this error from composer:

[code]

It appears that it cannot find the version of `doctrine/migrations` you have tagged in your `composer.json`. I'd create a PR, but I'm not sure why you tagged that specific version of `doctrine/migrations`...

[2015-03-21 09:44] jurosh commented on #27
this means that package is not ready for production ?

[2015-03-21 10:01] atrauzzi commented on #27
It means the Doctrine dependency isn't.

[2015-03-21 11:09] jurosh commented on #27
but isn't possible to use some stable version of doctrine ?

[2015-03-25 20:05] alirezarahmani opened #60 "Doctrine mapping:import command"
Why I cannot find this command:

`` php app/console doctrine:mapping:import --force AcmeBlogBundle xml ``
[here](http://doctrine-orm.readthedocs.org/en/latest/reference/tools.html?highlight=command) I mean mapping:import command.

I already replace this command:

`` php app/console doctrine:mapping:convert xml ./src/Acme/BlogBundle/Resources/config/doctrine/metadata/orm --from-database --force ``

[2015-03-26 13:06] afibanez commented on #55
Same problem here

[2015-03-26 13:15] afibanez commented on #55
Ok, i resolved it, and that issue has another ticket closed.

You have to write in composer.json:

    ...
	"type": "project",
	-> "minimum-stability": "dev",
	.> "prefer-stable": true,
	"require": {
     ...

And run again composer update

[2015-03-26 23:27] #55 closed

[2015-03-28 12:42] jurosh opened #64 "Authentification driver: doctrine"
Are you planning to add default authentication driver ?
/*
	|--------------------------------------------------------------------------
	| Default Authentication Driver
	|--------------------------------------------------------------------------
	|
	| This option controls the authentication driver that will be utilized.
	| This driver manages the retrieval and authentication of the users
	| attemp

[2015-03-28 13:37] atrauzzi commented on #64
I'd be happy to merge a pull request for one, I can't imagine it's too complex.  I don't have the time at the moment to complete this.

I'll keep this issue open until either I get around to it or someone else offers.

[2015-03-28 15:27] joshjwalker commented on #44
I would love to work on implementing the YAML and XML solutions. I actually did it for the last version, but never did a pull request. Although, this version is more abstracted then the last version, so I have to figure out how you'd prefer me to handle the different cases.

[2015-03-28 15:31] joshjwalker commented on #44
Would it not look almost exactly like the newAnnotationDriver method in the Configuration class, expect with YAML and XML drivers?

[2015-04-06 22:14] asantanacu opened #67 "Problem with phpunit tests"
I am having this error message when try to run more than one unit test in my laravel project at the same time
    "Doctrine\DBAL\DBALException: Type json already exists."
I found the error is in line 24 in file src/ServiceProvider
     Type::addType('json', '\Atrauzzi\LaravelDoctrine\Type\Json');
I dont know if this is the better way but for the moment I am solving it asking first if the type json

[2015-04-11 17:30] jjunqueira commented on #67
I am having the same issue...It looks like the laravel application service providers are being initialized multiple times or something. So what happens is inside the Atrauzzi\LaravelDoctrine\ServiceProvider boot() function this line is being executed more than once:
[code]

So doctrine throws an exception saying that json type is already defined. To temporarily fix this I wrapped  that line in an

[2015-04-12 12:48] atrauzzi commented on #67
Not sure what might be causing that.  I'd prefer not to do a detection hack (it could be your project that is causing this), so it might be better if you can figure out why that's being run twice.

[2015-04-21 19:42] greatwitenorth opened #69 "Cannot install via composer"
Looks like there's an issue with the migrations package:
[code]

Can you update your composer file?

[2015-04-23 07:46] animexxx commented on #69
I am trying to change dev-master to master but it still not work. Anyone help?

[2015-04-23 08:22] animexxx commented on #69
Hi greatwifenorth, I found a topic closed here: https://github.com/atrauzzi/laravel-doctrine/issues/55
It work.

[2015-04-23 14:36] atrauzzi commented on #69
@greatwitenorth Let me know if that fixes things up for you.

[2015-04-25 15:14] michael-bender commented on #69
@greatwitenorth Also if you do not want to make all packages pull in the dev level you can add `"doctrine/migrations":"@dev"` to your require list and when you install it will pull in only the dev version of the doctrine/migrations which is required.

[2015-04-30 15:45] michael-bender opened #72 "No Metadata Classes to process"
So with a base install from master and the cli-config.php in the readme I've tried creating an entity in app/Domain/Entities and just in the root app directory. I get `No Metadata Classes to process.` when I run `vendor/bin/doctrine orm:schema:create`.  How do I tell Doctrine where to find these classes with this package? Is it something I'm missing in the config? Where is it expecting to find ann

[2015-04-30 17:07] michael-bender commented on #72
Set the config `'metadata' => [ 'driver' => 'annotation' ]`  and it is finding my entities now. If I figure out how the driver chain works and why by default it's not picking these up I'll send over a PR.

[2015-04-30 17:07] #72 closed

[2015-05-01 02:10] atrauzzi commented on #72
Awesome.  Yes, if you send me any merges, I'll try to fold them in as quickly as I see them!

[2015-05-05 04:46] manfredjb opened #76 "\CacheProvider::initialize() should not be abstract"
Hello atrauzzi,
Today I update the project via composer. After a the command ran without problems and refreshing doctrine config file, the application is displaying this error message:

[code]

![Imgur](http://i.imgur.com/zh2Awxv.png)

I want to that line and the IDE is telling me that effectively the `initialize() should not be abstract`:
![Doctrine error](http://i.imgur.com/A7puifF.png)

[2015-05-05 05:33] manfredjb commented on #64
My authentification driver is using this package, I could share it

[2015-05-05 11:39] mbbender commented on #76
I actually did this refactoring but didn't have much to go on with testing. If you could share your authentication driver I'd be happy to fix the issue.

[2015-05-05 11:40] atrauzzi commented on #76
Thanks @mbbender :)

[2015-05-05 13:27] mbbender commented on #76
@manfredjb What version of PHP are you using? I found a few issues when testing the cache providers initialization which I just submitted a pull request for. You can see if this solves your problem, but I didn't specifically see the issue of abstract static being an issue. It uses late static binding so should be no problem that it is abstract static method.

[2015-05-05 13:56] atrauzzi commented on #76
Merged the test.

[2015-05-05 15:20] godlevel opened #78 "Fresh install gives errors"
I installed the package exactly as the readme says, but I can't get it to work. When I run `vendor/bin/doctrine` in my command line I get errors. Can someone help me?

[code]

[2015-05-05 17:01] mbbender commented on #78
Did you publish the config file? Do you have a 'cache' section in your doctrine.php config file?

[2015-05-05 17:11] manfredjb commented on #76
@mbbender, I am on PHP 5.5.23, also, the production machine is running over PHP 5.5.20. I will update the package right now.

[2015-05-05 17:30] manfredjb commented on #76
Well, after test the changes in two machines, the error persist with a little difference:

[code]

[2015-05-05 18:01] godlevel commented on #78
Oh man, sorry, I should read comments more often. Thanks for the info @mbbender

[2015-05-05 18:01] #78 closed

[2015-05-05 20:30] mbbender commented on #76
Hum, I'm not able to reproduce this issue. I think it may be related to error reporting settings. However, I'm guessing it's not good practice to implement that way if it is being reported as an error in some settings. I attempted to remove the abstract static function. I just sent over the pull request so you can try to merge it in yourself or what until @atrauzzi   merges it in.

[2015-05-05 20:40] manfredjb commented on #76
@mbbender, I can confirm to you that your last commit fix the issue!  Let's wait to @atrauzzi review to merge.

[2015-05-05 20:43] #76 closed

[2015-05-06 00:28] mbbender opened #82 "Artisan commands"
In poking around it seems the artisan commands are not setup to work. Is this correct or am I doing something wrong? I'm looking to try to integrate a drop/create pattern for my Behat tests and to read connection data from that environment file. I was going to start poking around the commands to get those working so I can call an Artisan::call('doctrine:schema:create') and drop from my FeatureCont

[2015-05-06 02:02] atrauzzi commented on #82
I don't think I did the commands when I upgraded the pacakge for Laravel 5.  Focused mainly on just getting the configs and service providers in a workable state.

[2015-05-06 02:35] mbbender commented on #67
I think this has something to do with loading the testing framework. I'm running into this problem now with Behat. I also found reference online to others having similar problems.

[2015-05-06 12:34] mbbender commented on #67
In looking into this a bit more it appears it is related to tearing down and attempting to reboot the Laravel kernel after each test. It would seem somehow the doctrine stuff is persisting and not getting cleared out. Not sure why yet, but thought I'd share my findings.

[2015-05-06 12:57] #82 closed

[2015-05-06 13:10] mbbender commented on #67
I can't find where a reference to the Type's are maintained such that the `Doctrine\DBAL\Types` class doesn't get lost when clearing out all the bindings at reboot, but it seems that @jjunqueira has the best solution since there is not `Type::reset()` or anything to clear out custom types.

[2015-05-06 13:51] #67 closed

[2015-05-06 22:24] jnderr opened #87 "Using doctrine with Lumen"
Is anyone using this with Lumen?

I copied doctrine.php into the config directory in the root of my project.

in bootstrap/app.php

I added it as a service provider with:

$app->configure('doctrine');
$app->register('Atrauzzi\LaravelDoctrine\ServiceProvider');

But I get the error

I cannot seem to get it to work.

I keep getting the error

Fatal error: Uncaught exception 'ReflectionException' wit

[2015-05-09 01:18] ntd1712 opened #89 "Class 'Atrauzzi\LaravelDoctrine\TablePrefix' not found (ServiceProvider.php, lines 245-246)"
The following code is not correct, please fix it.

if ($prefix = config('doctrine.connection.prefix')) // we only have "doctrine.connections"
     $eventManager->addEventListener(Events::loadClassMetadata, new TablePrefix($prefix));
     // Class 'Atrauzzi\LaravelDoctrine\TablePrefix' not found

--------------------------------------------------------------------------

I have to replace the origi

[2015-05-12 13:51] otherjohn opened #90 "Filter use?"
Hi,
How would one go about setting up http://doctrine-orm.readthedocs.org/en/latest/reference/filters.html using this package.

[2015-05-19 02:55] Quagh commented on #87
Seems like this package pulls in the entire Laravel 5 framework. Of course that won't work with Lumen as most of it has been stripped down.

[2015-05-19 03:44] atrauzzi commented on #87
Lumen is not Laravel, so I would not expect this package to work with it.

[2015-05-19 03:44] #87 closed

[2015-05-19 04:24] Quagh commented on #87
@atrauzzi Are there any plans to support it though? Or guidelines on how to enable this ourselves, if at all possible?

[2015-05-19 11:17] atrauzzi commented on #87
If you look at the exception you are getting, it's because services unique to Laravel aren't available.

This package targets those features and conventions.

You would ideally just make a lumen specific service provider and then ensure all the same stuff is happening as in my Laravel service provider... Except in a more lumen-y way.

[2015-06-16 18:29] Padrio opened #95 "Laravel 5.1"
I get this error while trying to require it.

[code]

[2015-06-18 01:45] josenicomaia commented on #64
@manfredjb +1 =]

[2015-06-18 17:22] josenicomaia opened #96 "Metadata Configuration with chainning"
When using metadata with chainning, configured in /config/doctine.php, the Entities (with annotation) is not reconized.

[code]

I can use annotations entities, but i need to set to:

[code]

[2015-06-22 09:22] klodoma opened #97 "Error: Type json already exists."
When trying to execute multiple unit-tests, I am getting the following error: Type json already exists.
This happens when the second unit-test is being executed. I assume that the APP is already initialized.

The error happens here. Any idea?

[code]

[code]

[2015-06-22 09:23] klodoma commented on #97
I've locally soved it with this, but I'm not sure if it's the correct solution

[code]

[2015-06-23 11:35] josenicomaia commented on #97
Maybe this

doctrine.php
[code]

In my boot method, there is a couple of code
[code]

[2015-06-23 12:03] josenicomaia commented on #95
I guess its ok know.
Just update your working copy

[2015-06-23 17:02] marklj opened #98 "Tagged version"
I'm integrating this package with a pretty big project and I'd like the peace of mind that I'm working with a version that's not going to have breaking changes in the future. Can you tag the package with a version so I can reference it in composer?

[2015-06-24 11:45] josenicomaia commented on #98
+1

[2015-06-24 14:03] danilomendes commented on #96
I think i am having the same issue... It keeps saying me that "No identifier/primary key specified for Entity "App\Test". Every Entity must have an identifier/primary key.", although the annotations are there!

I already tried the config you mentioned, but it didnt work for me.

Also Laravel 5.1.

[2015-06-24 14:16] josenicomaia commented on #96
Can you post your Model?

[2015-06-24 14:25] danilomendes commented on #96
no big deal... just playing around.

[code]

[2015-06-24 14:36] josenicomaia commented on #96
I am doing like this:

doctrine.php:
[code]

Model:
[code]

Did you tried to run "vendor\bin\doctrine orm:info"?

[2015-06-24 15:26] danilomendes commented on #96
sorry, i was editing the package doctrine.php file.

thank you for your help! :)

[2015-06-24 15:37] josenicomaia commented on #96
Relax! It happens =P

You're welcome!

[2015-06-26 04:58] izziaraffaele opened #100 "PasswordResetService provider uses default laravel database connectioj"
I'm using laravel-doctrine in my project where I'm trying to implement reset password functionalities but actually the framework is creating a connection with the database using ConnectionFactory->createConnector that throws an error

[code]

[2015-06-26 07:57] ntd1712 commented on #89
Can you fix this bug? Here is my Doctrine config:

<?php

return [
    'metadata' => [
        'driver' => 'annotation',
        'paths' => require __DIR__ . '/../modules/paths.php',
        'simple' => false
    ],
    'connection' => [
        'prefix' => 'tbl_'
    ],
    'connections' => [
        // Override your laravel environment database selection here if desired
        'default' => 'mys

[2015-06-26 16:28] josenicomaia commented on #100
Are you using laravel-doctrine?

[2015-06-26 16:34] josenicomaia commented on #100
I am afraid there is not an integration for PasswordResetService today.

[2015-06-26 16:38] izziaraffaele commented on #100
I solved creating my own PasswordResets doctrine's entity + repository and changing a bit the default PasswordResetServiceProvider in a way that loads my repository instead of let Laravel creating its own.

[2015-06-26 16:39] josenicomaia commented on #100
Great Job! Are you planning to do a PR?

[2015-06-26 16:41] izziaraffaele commented on #100
I'm doing things really fast because of a deadline with a client. As soon as I finish with it I'll make a PR with proper code and testing.

[2015-06-26 16:43] josenicomaia commented on #100
Relax haha

[2015-06-29 16:09] josenicomaia commented on #89
What is the problem?

Can you tell me what are you trying to do?

[2015-07-01 10:58] ntd1712 commented on #89
On branch master, in file https://github.com/atrauzzi/laravel-doctrine/blob/master/src/ServiceProvider.php#L257, you create a new instance of the class " TablePrefix " without using it (e.g. " use Atrauzzi\LaravelDoctrine\TablePrex; "), so I get this error " Class 'Atrauzzi\LaravelDoctrine\TablePrefix' not found " on runtime.

[2015-07-01 11:44] josenicomaia commented on #89
Ok, i will see it.

[2015-07-01 12:48] josenicomaia commented on #89
PR sent =]

[2015-07-02 04:47] ntd1712 commented on #89
Thank you. Still on branch master, as you see at here https://github.com/atrauzzi/laravel-doctrine/blob/master/src/ServiceProvider.php#L258, the config "doctrine.connection.prefix" (which is used for an older version) does not exist in file vendor/atrauzzi/laravel-doctrine/config/doctrine.php

[2015-07-02 11:18] josenicomaia commented on #89
@atrauzzi, What do you think about "doctrine.connection.prefix"?
Is it a global prefix?

[2015-07-02 11:58] josenicomaia commented on #95
@atrauzzi I guess we can close this one.

[2015-07-02 11:59] josenicomaia commented on #100
@izziaraffaele I guess you can close this one =]

[2015-07-02 12:31] ntd1712 commented on #89
As I said, it is a setting of an older version (http://github.com/atrauzzi/laravel-doctrine/commit/3935f02e0d526f6e3a347814307c7078e966d50a#diff-611fe18283f78bded6ad8e7fcccbba96R69), which is replaced with this https://github.com/atrauzzi/laravel-doctrine/blob/master/config/doctrine.php#L83

So I'd like to mention you.

Another thing, could you please create one more provider class known as " File

[2015-07-02 13:42] josenicomaia commented on #89
@ntd1712 Can you post the codes here?

[2015-07-02 13:50] ntd1712 commented on #89
Here you are :)

1- vendor/atrauzzi/laravel-doctrine/src/CacheProvider/FilesystemCacheProvider.php

[code]

2- vendor/atrauzzi/laravel-doctrine/config/doctrine.php

[code]

[2015-07-02 14:07] josenicomaia commented on #89
In the cache.provider, i will keep
[code]
To not impact other users.

[2015-07-02 14:18] josenicomaia commented on #89
@ntd1712 Can you change your `composer.json` and test the changes?

[code]

[2015-07-02 14:30] ntd1712 commented on #89
yes, it OK. It doesn't impact to any user. You missed the file "FilesystemCacheProvider.php", right?

[2015-07-02 14:33] josenicomaia commented on #89
@ntd1712 Ops, my bad. File commited!

[2015-07-02 14:34] josenicomaia commented on #89
Out to lunch. See you in a hour.

[2015-07-02 14:34] ntd1712 commented on #89
With your repository, there are 2 typo bugs in here https://github.com/NicoMaia/laravel-doctrine/blob/master/config/doctrine.php#L136:

You only have these two classes " Atrauzzi\LaravelDoctrine\CacheProvider\CouchbaseProvider " (not CouchebaseProvide) and Atrauzzi\LaravelDoctrine\CacheProvider\ApcCacheProvider::class (not ApcProvider)

[2015-07-02 14:35] ntd1712 commented on #89
Enjoy your lunch! :)

[2015-07-02 15:31] josenicomaia commented on #89
@ntd1712 Thx. I am back =]
Fixed =]

[2015-07-02 19:51] JacekJagiello opened #103 "DBALException on Installation process"
Hey,
I am using Laravel 5.1. I've require `atrauzzi/laravel-doctrine` package via composer, added service provider and facade, but when I run command to publish package configuration, I've got an exception:
[code]
I think it's something with database config. Here is my database.php
[code]
I've tried to change to `pdo_sqlite`, but exception is still thrown.
What can be wrong?

[2015-07-02 20:17] josenicomaia commented on #103
Did you set your `.env`?
Lookup for `doctrine.php` in your config folder.

[2015-07-02 23:37] JacekJagiello commented on #103
What should I set in `.env`? Here how it looks like:
[code]
I don't have `doctrine.php` file in config folder.
An exception is thrown when I run:
[code]

[2015-07-03 01:59] josenicomaia commented on #103
Hmmm...
Did you run `composer update` before configuring the config/app.php?

[2015-07-03 02:29] josenicomaia commented on #103
`'default' => env('DB_CONNECTION', 'pdo_mysql')`

default is the connection name.

In your case, you should set default to `'default' => env('DB_CONNECTION', 'mysql')`
After that, change `'driver'    => 'mysql',` to pdo_mysql.

resulting in this:
[code]

The `env()` mean that it will return the config from `.env` if exists. When it not exists, it will use predefined one.

Examples:

.env
[code]
[c

[2015-07-03 02:31] josenicomaia commented on #103
Dummy connection:

[code]

[2015-07-03 02:39] josenicomaia commented on #103
Another thing, i was checking the command and i found a typo.

The correct is:

*php artisan vendor:publish --provider="Atrauzzi\LaravelDoctrine\ServiceProvider" --tag="config"*

[2015-07-03 02:41] josenicomaia commented on #103
Tomorrow i will update the installation Guide.

[2015-07-03 02:42] josenicomaia commented on #103
@JacekJagiello I hope i this helps =]

[2015-07-03 03:51] ntd1712 commented on #89
Thank you very much =)

[2015-07-03 12:16] #95 closed

[2015-07-03 12:16] #89 closed

[2015-07-03 12:16] #103 closed

[2015-07-03 12:16] #100 closed

[2015-07-03 15:20] josenicomaia commented on #89
@ntd1712 Is it all right? Can i send a PR to merge the branch?

[2015-07-03 15:24] josenicomaia commented on #97
@klodoma Did you solve the problem?

[2015-07-04 07:41] JacekJagiello commented on #103
@josenicomaia Thanks, that what was exactly what caused the problem!

[2015-07-04 09:29] JacekJagiello opened #104 "No Metadata Classes to process"
Hey,
I've read #72 because I have the same problem. I set `'metadata' => [ 'driver' => 'annotation' ]` in `doctrine.php`, clear cache, but it does not pick up my entities; I got `No Metadata Classes to process` when I run `vendor/bin/doctrine orm:schema:create`

Heres my doctrine.php

[code]

[2015-07-04 09:39] JacekJagiello commented on #104
One more thing, my Entity namespace look like this: `Acme\Blog\Model\Post`
When I move my entity to `app` folder and change namespace to just `App`, it works!
I've tried to create mappings like:
[code]
But it doesn't work, still `No Metadata Classes to process`

[2015-07-04 10:21] ntd1712 commented on #89
Yes, it runs fine. But your branch (https://github.com/NicoMaia/laravel-doctrine/tree/master-fs-cache-provider) requires Laravel 5.1 with PHP 5.5.x, while my server only supports PHP 5.4.x. So I have to folk out another branch here https://github.com/ntd1712/laravel-doctrine.

If you have time, please take a look on my latest commits here https://github.com/ntd1712/laravel-doctrine/commits/master.

[2015-07-04 14:56] josenicomaia commented on #103
@JacekJagiello You're welcome

[2015-07-04 15:03] josenicomaia commented on #104
To use annotations with a custom namespace, you should set:
doctrine.php
[code]

The default option for `metada."array".namespace` is App

[2015-07-04 15:08] josenicomaia commented on #104
@JacekJagiello In my case, instead of running a "full annotation scan", i did this:
[code]

With this, i reduced the number of files to scan. And i can use this:

[code]

[2015-07-04 15:16] josenicomaia commented on #89
@ntd1712 I understand. So, i will send the PR and i will check about PHP version. I guess it's a requirement for Lavarel 5.

Just to double check:
Is our branchs, NicoMaia.master-fs-cache-provider and ntd1712.master, are in sync (the changes)?

[2015-07-04 15:19] josenicomaia commented on #89
I need to know this because i don't know how to test this changes.

[2015-07-04 17:58] JacekJagiello commented on #104
@josenicomaia Thanks to you I find out something:

[code]
It works! `Post` entity was found. But if I have `Acme` as a first part of namespace:
[code]
It does not work. I still have `No Metadata Classes to process`.
Well, I like to keep application on it's own namespace, and I don't want to move it into `app/` folder, only to make it recognizable by library. My `Acme` namespace is loaded by compos

[2015-07-04 18:50] josenicomaia commented on #104
@JacekJagiello Can you print your files tree?

[2015-07-04 19:14] JacekJagiello commented on #104
Yes of course:
![project_tree](https://cloud.githubusercontent.com/assets/2925620/8509108/9593ff46-2291-11e5-889a-8913b82ff238.png)

[2015-07-04 19:21] josenicomaia commented on #104
Wow. Know i understand. Why are you using app folder? It's supposed to be used for you app development.
![image](https://cloud.githubusercontent.com/assets/1703754/8509139/b3ee35d4-2268-11e5-91f5-a47c1f8994c8.png)

[2015-07-04 19:30] josenicomaia commented on #104
If you want, I guess you can do using this:
doctrine.php
[code]

[code]

[2015-07-04 19:35] JacekJagiello commented on #104
Well, for me, any kind of framework(like Laravel) or library(like thi library) is a "plugin" to the aplication. Framework, it's not something your app is build upon, it's rather like tool to help you build an app. This is called hexagonal architecture, and it's say you shouldn't mix your application code(application use cases, domain logic and buissenss rules) with your framework. Framework should

[2015-07-04 19:37] JacekJagiello commented on #104
@josenicomaia Wow, adding `'paths' => base_path('src/Acme')` solves the problem! :)
I must say that doctrine mapping config is a bit tricky.

Thanks again!

[2015-07-04 19:39] josenicomaia commented on #104
@JacekJagiello Hmmm, I understand. I will learn about this architecture =]

I am grad to help. You're welcome =]

[2015-07-04 19:40] josenicomaia commented on #104
PS.: If this problem is solved, you can close this issue. =]

[2015-07-04 19:41] josenicomaia commented on #104
I guess that we need to document more =P

[2015-07-04 19:45] #104 closed

[2015-07-04 22:01] josenicomaia commented on #89
@ntd1712 About Laravel requirements:

5.1: PHP >= 5.5.9 (http://laravel.com/docs/5.1#installation)
5.0: PHP >= 5.4 (http://laravel.com/docs/5.0#server-requirements)

I guess we need to change composer.json to PHP 5.4 too

[2015-07-05 02:09] ntd1712 commented on #89
@josenicomaia
Yes, the branches are same :+1:

And the answer is yes, again ;-).
Either you modify the composer.json file, or you follow this guide http://php.net/manual/en/migration55.php and modify your source code files to make them compatible with Laravel's version greater than or equal 5.0.x, for example: use 'Atrauzzi\LaravelDoctrine\CacheProvider\FilesystemCacheProvider'' instead of Atrauzz

[2015-07-05 12:56] JacekJagiello opened #105 "Unsupported driver Exception"
Hello again,
In issue #103 I've changed `DB_CONNECTION` to `mysql` and `driver` for this connection to `pdo_mysql`. Howere, now there is some issue when I register new user using default AuthController and Doctrine driver provided by this lib.
When I send POST request to `localhost/auth/register` to register user I got:
[code]
I tried to debug, this. In ConnectionFactory class there's method
[code

[2015-07-05 13:03] JacekJagiello commented on #105
Note, that if I switch driver to `mysql` in my configuration like this:
[code]

I've got another exception:
[code]

[2015-07-06 11:47] #69 closed

[2015-07-06 11:47] #51 closed

[2015-07-06 11:48] atrauzzi commented on #98
Yeah, definitely overdue for this.

Okay, there's been a lot of activity recently.  Would you like to hold off until the dust settles, or is there a particular commit you've found stable?

[2015-07-06 11:57] josenicomaia commented on #98
I guess we can wait some commits to mark a stable version.

[2015-07-06 13:07] atrauzzi commented on #98
If you'd like, in the meantime you can select specific commits in your `composer.json` file.  That'll at least allow you to version things from your end.

[2015-07-13 12:16] josenicomaia commented on #89
@ntd1712 Good Morning!!

FYI #108

[2015-07-13 12:22] josenicomaia commented on #105
@JacekJagiello I guess this ConnectionFactory is using connection from Laravel and not for Doctrine.

I'm afraid we have no integration with register. =/

[2015-07-17 04:07] ntd1712 commented on #89
:-1:

[2015-07-17 16:20] josenicomaia commented on #89
@ntd1712 I have great news!
We are joining the developers of repositories:
https://github.com/mitchellvanw/laravel-doctrine
https://github.com/atrauzzi/laravel-doctrine
https://github.com/patrickbrouwers/Laravel-Doctrine

In just a repository = D
https://github.com/laravel-doctrine/orm

[2015-07-17 18:34] FoxxMD opened #109 "SURVEY: Most commonly used version?"
Hello users of atrauzzi/laravel-doctrine!

We are working on a new package for laravel/doctrine integration and are writing a script that will be used to convert configuration files from atrauzzi/laravel-doctrine to this new package. Word on the street is that configuration files have changed enough between versions that we can't write just one template to cover all users.

So this issue is a surv

[2015-07-18 13:24] ntd1712 commented on #89
Congratulation! :100:

With the first one, I've used it before. It's simple but it isn't good enough to me.

With the second one, it's better, but it still has bugs in the config, and it also doesn't have config for event listeners which aren't lifecycle events (that I may use to inject a service locator into my entities).

Someday, I will try to play around with the third one. :)

[2015-07-18 15:43] josenicomaia commented on #89
@ntd1712 When the first version arrives, you should use https://github.com/laravel-doctrine/orm =]

[2015-07-19 02:13] theantichris commented on #105
I'm running into this road block with using this package with Laravel 5, also.

[2015-07-22 15:39] FoxxMD commented on #109
We're going to ahead with the latest version if there's no input from users...

[2015-07-24 00:28] atrauzzi commented on #109
Safe bet at this point ;)

[2015-07-24 13:48] FoxxMD commented on #109
Thanks @atrauzzi!

[2015-07-24 13:48] #109 closed

[2015-07-24 23:25] shakyj commented on #105
No one got a fix for this?

[2015-07-25 00:08] mbbender commented on #105
Laravel uses mysql to reference the driver and Doctrine requires the value to be pdo_mysql. Somewhere along the line it should map mysql from your laravel config into pdo_mysql before it attempts to create the Doctrine (DBAL) connection.

[2015-07-25 01:58] atrauzzi commented on #89
:)

[2015-07-29 14:08] gmsantosxl commented on #89
@josenicomaia, @atrauzzi I'll start a project using Laravel and Doctrine.

Are there a release date this first unified version? :)
If you guys have some issue I could help, let me know.

[2015-07-29 19:24] josenicomaia commented on #89
You can join us at Slack

http://slack.laraveldoctrine.org/

=]

[2015-07-31 12:56] woss commented on #87
check this one out https://github.com/nordsoftware/lumen-doctrine

[2015-08-15 20:05] oxidmod opened #114 "installation problem"
can`t install your package.
problem with this line in your composer.json
"doctrine/migrations": "dev-master#46a031ddaea47d0685200027cfe8c83b02aee6f6",

- atrauzzi/laravel-doctrine dev-master requires doctrine/migrations dev-master#46a031ddaea47d0685200027cfe8c83b02aee6f6 -> no matching package found.

[2015-08-19 01:57] bryanrscott opened #115 "Update README"
Hi

I might be wrong but the example in the readme.md might need the imports update to
use Atrauzzi\LaravelDoctrine\Util\Time;

from
use Atrauzzi\LaravelDoctrine\Trait\Time;

cheers

[2015-08-20 19:54] miladr commented on #114
Add these 2 lines to your composer.json

[code]

[2015-08-21 18:55] joaoeduardo opened #116 "Change "Trait" to "Util" on readme.md"

[2015-08-25 17:15] bskimball opened #117 "ibm_db2 driver $driverOptions"
Is there a way in the database config that I can add the driver options for ibm_db2 driver?

db2 => [
    'driver' => 'ibm_db2',
    'host' => '',
    'user' => '',
    'password' => '',
    'driver_options' => [
             'i5_lib' => '',
    ],
],

[2015-08-26 17:00] bskimball commented on #117
This actually works for anyone else looking for the ibm_db2 config
db2 => [
'driver' => 'ibm_db2',
'host' => '',
'dbname' => '',
'username' => '',
'password' => '',
'driverOptions' => [
'i5_lib' => '',
],
],

[2015-08-26 17:01] #117 closed

[2015-08-26 20:47] oxidmod commented on #114
already done, but problem exist

[2015-08-29 10:25] douma opened #118 "No such file or directory exception on orm:validate-schema"
I got this error while running:
vendor/bin/doctrine orm:validate-schema

  [Doctrine\DBAL\Exception\ConnectionException]
  An exception occured in driver: SQLSTATE[HY000] [2002] No such file or directory

  [Doctrine\DBAL\Driver\PDOException]
  SQLSTATE[HY000] [2002] No such file or directory

  [PDOException]
  SQLSTATE[HY000] [2002] No such file or directory

[2015-08-29 11:07] douma commented on #105
Still getting this error when I pull dev-master.

[2015-08-29 11:31] douma commented on #118
Never mind, had to change my environment file for laravel 5, host to 127.0.0.1, instead of localhost.

[2015-08-29 11:31] #118 closed

[2015-09-10 07:54] bakgat opened #119 "artisan breaks on register serviceprovider"
I have included laravel-doctrine into a package that I develop in a folder called packages, that's located in my root laravel app.

Folderstructure:
![schermafbeelding 2015-09-10 om 09 35 47](https://cloud.githubusercontent.com/assets/2185099/9782680/5a028c34-579f-11e5-945c-0058bc2e8b17.png)

In my packages ServiceProvider I register the ServiceProvider of Atrauzzi.
Like this:
    public function

[2015-09-10 08:10] bakgat commented on #119
My bad.
in my config cache must be memcached, not memcache.

[2015-09-10 08:10] #119 closed

[2015-09-13 03:47] jeboy opened #120 "Look for Entity metadata other than from Laravel's app/ path"
In an application architecture where one opted to move their application codes outside of the Framework (Laravel) they could probably house their Entities/metadata in a specific directory outside of Laravel's "app/" directory. In that case the metadata will not resolve correctly even if you set the correct namespace in doctrine.php config file since the ServiceProvider is looking for Laravel's def

[2015-09-17 15:13] klodoma commented on #97
Oje, completely forgot about this. I fixed it as mentioned, let me give it a try and come back on this.

[2015-09-18 10:49] ZoozyCN commented on #120
try ```app_path('../src/YourDoctrineMappings')```

[2015-09-22 17:32] jtallant commented on #105
You can fix this without changing the code.

In config/database.php use driver mysql

In config/doctrine.php use driver pdo_mysql

config/database.php
[code]

config/doctrine.php
[code]

[2015-09-23 14:56] FoxxMD opened #121 "Update readme to point to laravel-doctrine/orm"
Hi @atrauzzi,

I made a PR in [mitchellvanw](https://github.com/mitchellvanw/laravel-doctrine/pull/143)'s repo because they literally disappeared but you are still somewhat active here so I wanted to make a polite request to you rather than rudely vandalizing your readme in a PR ;)

Would you consider updating your readme to point to [our package](https://github.com/laravel-doctrine/orm) as an upg

[2015-09-23 19:38] atrauzzi commented on #121
Hey!  I'll tell you what...  I'm totally okay with sorta "deprecating" this library and putting the new library's branding in here just to seal the deal.

Submit a PR and put anything you want at the top!

[2015-09-23 19:38] atrauzzi commented on #121
(for anyone reading, if you're using this library, feel free to continue helping maintain it for your existing applications)

[2015-09-30 18:16] #121 closed

[2016-01-30 03:15] EltonFaust opened #124 "Laravel 5.2 compatibility"
Hello,

There are any date for compatibilities update with laravel 5.2?

Thanks

[2016-01-30 19:33] atrauzzi commented on #124
Hey there, check out http://www.laraveldoctrine.org/ which supersedes this library.

[2016-01-30 19:33] #124 closed

[2016-02-05 00:23] morfin commented on #26
php artisan doctrine:generate:proxies

[2016-02-05 13:48] rochapablo commented on #64
So?

[2016-02-05 13:54] rochapablo opened #125 "How to be compatible with Eloquent?"
I'm getting this error:

[2016-02-05 14:05] atrauzzi commented on #125
While I'll still accept PRs for this project, it is no longer being actively maintained.  Please see the new Laravel Doctrine libary here: https://github.com/laravel-doctrine/orm

[2016-02-05 14:05] #125 closed

[2016-02-05 14:06] atrauzzi commented on #64
Check out https://github.com/laravel-doctrine/orm .

[2016-02-05 14:06] #64 closed

[2016-02-05 15:38] rochapablo commented on #125
Ok! Thank you.

[2016-09-27 16:27] #116 closed